html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	background-color: #000000;
	background-image: url('../images/maos.jpg');
	background-repeat: no-repeat;
	background-size: auto 25%;
	background-position: center;
}

.title{
	width: 100%;
	bottom: 5%;
	text-align: center;
	position: absolute;
	color: #335951;
}